@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* reset */
body {margin:0;padding:0;font-family:'Noto Sans KR', 'malgun gothic',dotum,gulim,arial,'apple gothic'; background:#636e72}
html, img{padding: 0; margin: 0;}
input{ outline:none;}
a{color:#000;text-decoration:none}

.wrap{height:100%;}
.img_box{position:relative; background-color: #000; width:560px; margin:0 auto}
.img_box img{display: block; max-width: 100%; opacity: 0.8;}
.js-clock{position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); z-index:9; color:#fff}
.content{width:500px; margin:0 auto; background: rgb(255, 255, 255);padding:20px 30px 30px;}
.title{text-align: center; color: #c4882f; margin: 0; padding:20px 0 20px; font-weight:100;}
.list_wrap{background: rgb(244, 238, 230);  padding: 20px;}
.js-weather{text-align: right; display: block;}
.todo_list{list-style: none; margin:0; padding:0}
.todo_list li{line-height: 25px;padding-bottom:5px; }
.todo_list li + li{margin-top:5px;}
.todo_list button{margin-left:10px; padding:3px 5px;border:0; background:#262626; color:#fff; font-size:10px;vertical-align:middle;}
.todo_list input[type="checkbox"]{margin-right:10px;}
/* .todo_list input[type="checkbox"]:checked{text-decoration: underline;} */
.todo_input, .name_input{display:block; margin:20px auto; padding:5px 10px; border:0; border-bottom:1px solid #ddd; outline: none;background: transparent; text-align: center;}
.js_name, .name_form{display:none;}
.showing, .show{display: block;}
.name_txt.show{display: inline-block;}

